

html, body, ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.btnn {
    transition: color .1s ease 0s;
}
.btnn:active {
    color: #DFFF30;
}
.btnn{
    float: left;
    width: 100%;
    height: 100%;
}

.btnn:nth-of-type(2) {left: 8%}
.btnn:nth-of-type(4) {left: 21%}
.btnn:nth-of-type(7) {left: 45%}
.btnn:nth-of-type(9) {left: 58%}
.btnn:nth-of-type(11) {left: 71%}